<!DOCTYPE html>
<html>
  <head>
    <title>Treemap</title>
  </head>
  <body>
    <div class="root" style="height: 100vh;"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/treemap.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/example.js') }}"></script>
    <script type="text/javascript">
        const tree = treemap.create(json);
        treemap.render(tree, document.querySelector('.root'));
    </script>
  </body>
</html>